<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Trainermacher Help</title>
  <link rel="stylesheet" href="custom.css">
</head>
<body>
  <div class="help">
    <h1>Help</h1>

    <h3>!agenda</h3>
    <p>!agenda Überschrift#Top 1#+Top 2#Top 3#Top 4#Top 5</p>

    <h3>!ask</h3>
    <p>!ask Frage#Antwort 1#Antwort 2#Antwort 3#Antwort 4#Antwort 5</p>

    <h3>!black</h3>
    <p>!black 2</p>
    <p>!black</p>

    <h3>!cloud</h3>
    <p>!cloud Überschrift</p>
    <p>Wort</p>
    <p>oder ein Satz</p>

    <h3>!collect</h3>
    <p>!collect Überschrift</p>
    <p>Wortmeldungen von Teilnehmenden werden in einer nummerierten Liste angezeigt.</p>
    <p>Mit 1, 2, 3, 4 etc. kann man voten (Wie bei Ask),</p>
    <p>mit +2 kann man das 2. Item hervorheben (wie bei der Agenda),</p>
    <p>mit -2 kann man das zweite Item ausblenden lassen</p>

    <h3>!done</h3>
    <p>!done 7</p>

    <h3>!help</h3>
    <p>Zeigt alle Befehle mit Erklärungen an.</p>

    <h3>!scale</h3>
    <p>!scale 1-10</p>
    <p>Zeigt einen horizontalen Balken zentriert an mit einem Pfeil auf der Mitte,
      dann können die Leute abstimmen mit Zahlen.</p>
    <p>Automatisch wird der Durchschnitt mit dem Pfeil auf der Skala angezeigt.</p>
    Mit 1-10 gebe ich Minimum/Maximum an, die Zahlen stehen links bzw. rechts vom Balken

    <h3>!scalevalues</h3>
    <p>!scalevalues 1-10</p>
    <p>1-10 (1-5, 1-100…): Zeigt einen horizontalen Balken zentriert an mit einem Pfeil auf der Mitte,
      dann können die Leute abstimmen mit Zahlen.
      Automatisch wird der Durchschnitt und alle Wertungen mit einem Pfeil auf der Skala angezeigt.
      Mit 1-10 gebe ich Minimum/Maximum an, die Zahlen stehen links bzw. rechts vom Balken
    </p>

    <h3>score</h3>
    <p>!score Überschrift#Team 1#Team 2#Team 3</p>
    <p>1+ macht bei Team 1 +1, 2- bei Team 2 eins weniger.</p>

    <h3>!ticker</h3>
    <p>!ticker Dieser Text läuft jetzt in Dauerschleife unten durch…</p>

    <h3>!timer</h3>
    <p>!timer 60</p>

    <h3>!wheel</h3>

    <p>!wheel a#s#d#f#g#hhh<br />!spin 3</p>

</div>
</html>
