<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Studioheld.in - BOT</title>
	</head>
	<body>
		<input
			id="user-id"
			type="text"
			placeholder="Enter user ID"
			size="50"
		/><br />
		<button id="connect-button">Connect to WebSocket</button><br />
		<div id="bot-holder">
			<input
				id="meeting-link"
				type="text"
				placeholder="Enter meeting link"
				size="50"
			/><br />
			<label for="timeout">Bot timeout in hours</label>
			<input type="number" name="timeout" id="timeout" />
			<button id="start-bot-button">Start Bot</button><br />
		</div>

		<textarea
			id="message-input"
			cols="50"
			rows="5"
			placeholder="Type your message here"
		></textarea
		><br />
		<button id="send-button">Send Message</button><br />
		<div>Filtered name</div>
		<input type="text" id="filtered-name" />
		<button id="filtered-name-send">Send</button>
		<div id="bot-status"></div>

		{{ room_name|json_script:"user-id" }}
		<script>
			var ws;
			var botHolder = document.querySelector("#bot-holder");
			var start_bot_button = document.querySelector("#start-bot-button");

			botHolder.style.display = "none";
			start_bot_button.onclick = function (e) {
				var userId = document.querySelector("#user-id").value;
				var meetingLink = document.querySelector("#meeting-link").value;
				console.log("pressed");

				if (ws != undefined && ws.readyState == 1) {
					ws.send(
						JSON.stringify({
							type: "bot.start",
							userId: userId,
							url: meetingLink,
							timeout: document.querySelector("#timeout").value,
						})
					);
				}
			};
			document.querySelector("#connect-button").onclick = function (e) {
				document.querySelector("#bot-status").innerHTML = "";
				var meetingLink = document.querySelector("#meeting-link").value;
				var userId = document.querySelector("#user-id").value;

				// Initialize a new WebSocket connection
				if (ws != undefined && ws.readyState == 1) {
					ws.close();
				}
				ws = new WebSocket(
					"ws://" + window.location.host + "/ws/bots/" + userId + "/"
				);
				ws.onopen = function () {
					// Disable the connect button when the WebSocket is connected
					document.querySelector("#connect-button").disabled = true;
					botHolder.style.display = "block";
				};
				ws.onclose = function () {
					// Enable the connect button when the WebSocket is closed
					document.querySelector("#connect-button").disabled = false;
					document.querySelector("#bot-status").innerHTML = "";
					botHolder.style.display = "none";
				};
				ws.onmessage = function (e) {
					var data = JSON.parse(e.data);
					if (data.type == "bot.status") {
						document.querySelector("#bot-status").innerHTML = data.status;
					}
					console.log(data);
				};
			};
			document.querySelector("#filtered-name-send").onclick = function (e) {
				var filteredName = document.querySelector("#filtered-name").value;

				ws.send(
					JSON.stringify({
						type: "filtered.name",
						name: filteredName,
					})
				);
			};

			document.querySelector("#send-button").onclick = function (e) {
				var message = document.querySelector("#message-input").value;
				var userId = document.querySelector("#user-id").value;
				var meetingLink = document.querySelector("#meeting-link").value;
				var type = "";

				if (meetingLink.includes("zoom.us")) {
					type = "zoom";
				} else if (meetingLink.includes("teams.live.com")) {
					type = "teams";
				}

				var msg = {
					chatname: userId,
					chatbadges: "",
					backgroundColor: "",
					textColor: "",
					chatmessage: message,
					chatimg: "https://picsum.photos/200",
					hasDonation: "",
					membership: "",
					contentimg: "",
					type: type,
				};
				// Send the message through the WebSocket
				ws.send(
					JSON.stringify({
						type: "chat.message",
						message: JSON.stringify(msg),
					})
				);

				// Clear the message input field
				document.querySelector("#message-input").value = "";
			};
		</script>
	</body>
</html>
